<h1>faucet selections</h1>
<% @faucets.each do |f| %>
  <div class="inline">
    <%= image_tag(f.faucet_pic.url(:medium)) %>
    <h4><%= f.faucet_tag %></h4>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/water_treatments/drinking_water/faucet_selections/#{f.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>
<br>
<% if current_user %>
  <%= link_to 'Add a new photo', '/water_treatments/drinking_water/faucet_selections/new' %>
<% end %>
