<h1>MultiMedia</h1>
<% @multimedias.each do |m| %>
  <div class="inline">
    <%= image_tag(m.multimedia_pic.url(:medium)) %>
    <h4><%= m.multimedia_tag %></h4>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/water_treatments/solutions/multimedia/#{m.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>
<br>
<% if current_user %>
  <%= link_to 'Add a new picture', '/water_treatments/solutions/multimedia/new' %>
<% end %>
