<h1>Water Treatment Residential</h1>
<div id="wt_residential" class="wt_residential">
  <div class="menu wt_residential_menu text-center">
    <div class="menu_inner wt_residential_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="#"><div class="circle inline"></div><h1>I Need a Service or Delivery</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Emergency Service</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>New Equipment</h1></a></li>
      </ul>
    </div>
  </div>
</div>
