<h1>Water Treatments</h1>
<div class="water_treatment" id="water_treatment">
  <div class="menu water_treatment_menu text-center">
    <div class="menu_inner water_treatment_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/commercial"><div class="circle inline"></div><h1>Commercial</h1></a></li>
        <li><a href="/water_treatments/residential"><div class="circle inline"></div><h1>Residential</h1></a></li>
      </ul>
    </div>
  </div>
</div>
