<h1>Bacterial Concerns</h1>
<div id="bacteria_concerns" class="bacteria_concerns">
  <div class="menu bacter_concerns_inner">
    <div class="menu_inner bacteria_conerns_inner_menu">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/solutions/chem_feeder"><div class="circle inline"></div><h1>Chem Feeder</h1></a></li>
        <li><a href="/water_treatments/solutions/ultraviolet"><div class="circle inline"></div><h1>UltraViolet Disinfection</h1></a></li>
      </ul>
    </div>
  </div>
</div>
