<div class="text-center">
  <h1>Ultraviolet Disinfection</h1>
  <% if current_user %>
    <h2><%= link_to 'Add a new photo', '/water_treatments/solutions/ultraviolet/new' %></h2>
  <% end %>
  <% @ultras.each do |ultra| %>
    <div class="images">
      <%= link_to image_tag(ultra.ultra_pic.url(:medium)), ultra.ultra_pic.url, title: ultra.ultra_tag %>
      <h4><%= ultra.ultra_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/water_treatments/solutions/ultraviolet/#{ultra.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
