<div class="text-center">
  <h1>New Service Lines</h1>
  <% if current_user %>
    <h2><%= link_to 'New Service Line Picture', new_well_pumps_newserviceline_path %></h2>
  <% end %>
  <% @newservicelines.each do |nsl| %>
    <div class="images">
      <%= link_to image_tag(nsl.nsl_pic.url(:medium)), nsl.nsl_pic.url, title: nsl.nsl_tag %>
      <h4><%= nsl.nsl_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/well_pumps/newservicelines/#{nsl.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
<br>
