<h1>Dry Hair and Skin | Hard Water</h1>
<div id="hardwater" class="hardwater">
  <div class="menu hardwater_menu text-center">
    <div class="menu_inner hardwater_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/solutions/water_conditioner"><div class="circle inline"></div><h1>Water Conditioner (softner)</h1></a></li>
      </ul>
    </div>
  </div>
</div>
