<div class="text-center">
  <h1>Pumps Tanks &amp; Boosters</h1>
  <% if current_user %>
    <h2><%= link_to 'New Pumps Tanks & Booster Picture', '/well_pumps/pump_installation_services/commercial/pumps_tanks_boosters/new' %></h2>
  <% end %>
  <% @pumpstanksboosters.each do |ptb| %>
    <div class="images">
      <%= link_to image_tag(ptb.ptb_pic.url(:medium)), ptb.ptb_pic.url, title: ptb.ptb_tag %>
      <h4><%= ptb.ptb_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/well_pumps/pump_installation_services/commercial/pumps_tanks_boosters/#{ptb.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
