<h1>New Equipment</h1>
<div id="new_equipment" class="new_equipment">
  <div class="menu new_equipment_menu text-center">
    <div class="menu_inner new_equipment_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/contact"><div class="circle inline"></div><h1>I Have Questions</h1></a></li>
        <li><a href="/contact"><div class="circle inline"></div><h1>I Have a Lab Report to Send You</h1></a></li>
        <li><a href="/water_treatments/residential/new_equipment/water_test"><div class="circle inline"></div><h1>Do You Need to Test Your Water?</h1></a></li>
      </ul>
    </div>
  </div>
</div>
