<div class="text-center">
  <h1>emergency services</h1>
  <% if current_user %>
    <h2><%= link_to 'New Emergency Service Picture', new_well_pumps_emergencyservice_path %></h2>
  <% end %>
  <% @emergencyservices.each do |es| %>
    <div class="images">
      <%= link_to image_tag(es.es_pic.url(:medium)), es.es_pic.url, title: es.es_tag %>
      <h4><%= es.es_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/well_pumps/emergencyservices/#{es.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
<br>
