<h1>Nitrates | Herbicides | Pesticides</h1>
<div id="nitrate" class="nitrate">
  <div class="menu nitrate_menu text-center">
    <div class="menu_inner nitrate_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/solutions/ion_exchange"><div class="circle inline"></div><h1>Ion Exchange</h1></a></li>
        <li><a href="/water_treatments/solutions/reverse_osmosis"><div class="circle inline"></div><h1>Reverse Osmosis</h1></a></li>
      </ul>
    </div>
  </div>
</div>
