<div class="text-center">
  <h1>Aeration</h1>
  <% if current_user %>
    <h2><%= link_to 'Add a new picture', '/water_treatments/solutions/aeration/new' %></h2>
  <% end %>
  <% @aerations.each do |a| %>
    <div class="images">
      <%= link_to image_tag(a.aeration_pic.url(:medium)), a.aeration_pic.url, title: a.aeration_tag %>
      <h4><%= a.aeration_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/water_treatments/solutions/aeration/#{a.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
