<h1>Aeration</h1>
<% @aerations.each do |a| %>
  <div class="inline">
    <%= image_tag(a.aeration_pic.url(:medium)) %>
    <h4><%= a.aeration_tag %></h4>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/water_treatments/solutions/aeration/#{a.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>
<br>
<% if current_user %>
  <%= link_to 'Add a new picture', '/water_treatments/solutions/aeration/new' %>
<% end %>
