<h1>booster pumps</h1>
<% @boosterpumps.each do |bp| %>
  <div class="inline">
    <%= image_tag(bp.bp_pic.url(:medium)) %>
    <h4><%= bp.bp_tag %></h4>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/well_pumps/boosterpumps/#{bp.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>
<br>
<% if current_user %>
  <%= link_to 'New Booster Pump Picture', new_well_pumps_boosterpump_path %>
<% end %>
