<div id="home" class="home">
  <div class="menu home_menu text-center">
    <div class="menu_inner home_menu_inner">
      <ul class="text-justify menu_ul">
        <li><a href="#"><div class="circle inline"></div><h1>Well Pump Installation &amp; Service</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Water Treatment &amp; Purification</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Pressure Tanks &amp; Controls</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Water Pressure</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Flood Prevention Systems</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Water Testing Services</h1></a></li>
      </ul>
    </div>
  </div>

</div>
