<h1>Stanky Water</h1>
<div id="stinky" class="stinky">
  <div class="menu stinky_menu text-center">
    <div class="menu_inner stinky_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/solutions/ozone"><div class="circle inline"></div><h1>Ozone</h1></a></li>
        <li><a href="/water_treatments/solutions/aeration"><div class="circle inline"></div><h1>Aeration</h1></a></li>
        <li><a href="/water_treatments/solutions/activated_carbon"><div class="circle inline"></div><h1>Activated Carbon</h1></a></li>
      </ul>
    </div>
  </div>
</div>
