<h1>All the things</h1>
<div id="govtfood" class="govtfood">
  <div class="menu govtfood_menu text-center">
    <div class="menu_inner govtfood_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="#"><div class="circle inline"></div><h1>Food Service</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Hospitality</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Strip Mall</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Grocery Stores</h1></a></li>
        <li><a href="#"><div class="circle inline"></div><h1>Government</h1></a></li>
      </ul>
    </div>
  </div>
</div>
