<div class="text-center">
  <h1>Basement Reverse Osmosis</h1>
  <% if current_user %>
    <h2><%= link_to 'Add a new Basement RO picture', '/water_treatments/commercial/office/kitchen/basement_ro/new' %></h2>
  <% end %>
  <% @basements.each do |b| %>
    <div class="images">
      <%= link_to image_tag(b.b_ro_pic.url(:medium)), b.b_ro_pic.url, title: b.b_ro_tag %>
      <h4><%= b.b_ro_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/water_treatments/commercial/office/kitchen/basement_ro/#{b.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
