<div class="text-center">
  <h1>Conventional Well Pumps</h1>
  <% if current_user %>
    <h2><%= link_to 'Add a new Conventional Well Pump picture', new_well_pumps_conventional_well_pump_path %></h2>
  <% end %>
  <% @convetionalwellpumps.each do |cwp| %>
    <div class="images">
      <%= link_to image_tag(cwp.cwp_pic.url(:medium)), cwp.cwp_pic.url, title: cwp.cwp_tag %>
      <h4><%= cwp.cwp_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/well_pumps/conventional_well_pumps/#{cwp.id}", method: :delete, data: { confirm: ' are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
<br>
