<div class="text-center">
  <h1>Reverse Osmosis</h1>
  <% if current_user %>
    <h2><%= link_to 'Add a new photo', '/water_treatments/solutions/reverse_osmosis/new' %></h2>
  <% end %>
  <% @reverse_osmoses.each do |ro| %>
    <div class="images">
      <%= link_to image_tag(ro.ro_pic.url(:medium)), ro.ro_pic.url, title: ro.ro_tag %>
      <h4><%= ro.ro_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/water_treatments/solutions/reverse_osmosis/#{ro.id}", method: :delete, data: { confirm: 'are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
