body {
  padding-top: 13em;
  padding-bottom: 5em;
}

.inline {
  display: inline-block;
}

ul {
  list-style-type: none;
}

nav {
  border-bottom: 1px solid black!important;
  height: 10em;
  background: url('nav_bg.jpg') no-repeat 48%;
}

nav img {
  width: 20%;
  margin: 5px 0 5px 10px;
}

a:hover {
  text-decoration: none!important;
  background: none!important;
}

.nav_links  {
  padding-top: 2.5em;
  font-size: 1.5em;
}

.nav_links a {
  color: black;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #424242;
  border: 1px solid black;
  margin-right: 1.3em;
}

.small_circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #424242;
  border: 1px solid black;
  margin-right: 1.3em;
}

.menu {
  margin-left: 7.5em;
}

.menu_inner a {
  color: black;
}

.menu_inner a:hover {

  color: black;
}

.menu_ul h1 {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 1em;
  margin-top: .8em;
}

.menu_ul h4 {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 1.3em;
  margin-top: .9em;
}

.images {
  display: inline-block;
  margin: 1em;
  height: 350px;
  width: 250px;
  vertical-align: top;
}

.images img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.backHome {
  margin: 0 0 2em 2em;
}
