<h1>Water got some color</h1>
<div id="water_color" class="water_color">
  <div class="menu water_color_menu text-center">
    <div class="menu_inner water_color_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/solutions/iron_sulfur"><div class="circle inline"></div><h1>Iron Breaker | Sulfur Breaker</h1></a></li>
        <li><a href="/water_treatments/solutions/birm"><div class="circle inline"></div><h1>Birm</h1></a></li>
        <li><a href="/water_treatments/solutions/multimedia"><div class="circle inline"></div><h1>Multimedia</h1></a></li>
        <li><a href="/water_treatments/solutions/sediment"><div class="circle inline"></div><h1>Sediment Control</h1></a></li>
        <li><a href="/water_treatments/solutions/kx_pro"><div class="circle inline"></div><h1>KX Pro</h1></a></li>
      </ul>
    </div>
  </div>
</div>
