<h1>Water Treatment Commercial</h1>
<div id="wt_commercial" class="wt_commercial">
  <div class="menu wt_commercial_menu text-center">
    <div class="menu_inner wt_commercial_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/commercial/govt_food"><div class="circle inline"></div><h1>Food Service | Hospitality | Strip Mall | Grocery Stores | Government</h1></a></li>
        <li><a href="/water_treatments/commercial/office"><div class="circle inline"></div><h1>Office</h1></a></li>
      </ul>
    </div>
  </div>
</div>
