<div class="text-center">
  <h1>Custom Repairs</h1>
  <% if current_user %>
    <h2><%= link_to 'New Custom Repair Picture', new_well_pumps_customrepair_path %></h2>
  <% end %>
  <% @customrepairs.each do |cr| %>
    <div class="images">
      <%= link_to image_tag(cr.cr_pic.url(:medium)), cr.cr_pic.url, title: cr.cr_tag %>
      <h4><%= cr.cr_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/well_pumps/customrepairs/#{cr.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
<br>
