<h1>Complaints Page</h1>
<h2>What is your complaint???</h2>
<div id="complaints" class="complaints">
  <div class="menu complaints_menu text-center">
    <div class="menu_inner complaints_menu_inner">
      <ul class="menu_ul text-justify">
        <li><a href="/water_treatments/complaints/low_water_pressure"><div class="small_circle inline"></div><h4>Low Water Pressure</h4></a></li>
        <li><a href="/water_treatments/complaints/brown_water"><div class="small_circle inline"></div><h4>Brown Discoloration | Yellow Water | Pink Stains | Black Stains | Iron in Water</h4></a></li>
        <li><a href="/water_treatments/complaints/corrosion"><div class="small_circle inline"></div><h4>Corrosion | Pinhole Leaks | Blue Stains | Appliance Issues</h4></a></li>
        <li><a href="/water_treatments/complaints/hard_water"><div class="small_circle inline"></div><h4>Dry Skin &amp; Hair | Hard Water | Spots On Dishes | Appliance Issues</h4></a></li>
        <li><a href="/water_treatments/complaints/sediment"><div class="small_circle inline"></div><h4>Sediment in Water</h4></a></li>
        <li><a href="/water_treatments/complaints/radon"><div class="small_circle inline"></div><h4>Radon in Water</h4></a></li>
        <li><a href="/water_treatments/complaints/color_water"><div class="small_circle inline"></div><h4>Water has Color</h4></a></li>
        <li><a href="/water_treatments/complaints/lead"><div class="small_circle inline"></div><h4>Lead in Water</h4></a></li>
        <li><a href="/water_treatments/complaints/bacteria"><div class="small_circle inline"></div><h4>Bacteria Concerns</h4></a></li>
        <li><a href="/water_treatments/complaints/chlorine"><div class="small_circle inline"></div><h4>Too Much Chlorine</h4></a></li>
        <li><a href="/water_treatments/complaints/nitrates"><div class="small_circle inline"></div><h4>Nitrates | Herbicides | Pesticides</h4></a></li>
        <li><a href="/water_treatments/complaints/bad_taste"><div class="small_circle inline"></div><h4>Bad Taste</h4></a></li>
        <li><a href="/water_treatments/complaints/stinky_water"><div class="small_circle inline"></div><h4>Stinky Water</h4></a></li>
        <li><a href="/water_treatments/complaints/chlorides"><div class="small_circle inline"></div><h4>Chlorides (salt)</h4></a></li>
      </ul>
    </div>
  </div>

</div>
