<h1>Complaints Page</h1>
<h2>What is your complaint???</h2>
<div id="complaints" class="complaints text-center">
  <div class="complaint_box inline">
    <a href="/water_treatments/complaints/low_water_pressure"><h4>Low Water Pressure</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Brown Discoloration<br>Yellow Water<br>Pink Stains<br>Black Stains<br>Iron in Water</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Corrosion<br>Pinhole Leaks<br>Blue Stains<br>Applicane Issues</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Dry Skin &amp; Hair<br>Hard Water<br>Spots on Dishes<br>Applicance Issues</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Sediment in Water</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Radon in Water</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Water Has Color</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Lead in Water</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Bacteria Concerns</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Too Much Chlorine</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Nitrates<br>Herbicides<br>Pesticides</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Bad Taste</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Stinky Water</h4></a>
  </div>
  <div class="complaint_box inline">
    <a href="#"><h4>Chlorides (salt)</h4></a>
  </div>
</div>
